*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eaeaea;
}

.container{
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-right: 2px solid #dadada;
    min-height: 100vh;
}

.button{
    padding: 25px 0 25px 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: relative;
}

.button::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15px;
    height: 10px;
    background: crimson;
    transition-property: width;
    transition-duration: 3s;
}

.button:hover::before {
    width: 100%;
}