*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.button{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100px;
    padding-left: 120px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.sub{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 10px solid yellowgreen;
    border-radius: 200px;
    transition-property: width;
    transition-duration: 1s;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 50px;
    border-bottom: 10px solid yellowgreen;
    transition-property: width;
    transition-duration: 1s;
}

.button:hover .sub{
    width: 100%;
}

.button:hover .line{
    width: 65px;
}
